.code-editor {
    width: 97%;
    margin: auto;
    height: 100%;
    position: relative;
}

.node-edge-editor {
    width: 95%;
    height: 100%;
    margin: auto auto 5px 5px;
}

.resizable {
    resize: vertical;
    overflow-y: hidden;
    *border: 1px solid black;
}
